:root {
  --color-primary: #141414;
  --color-secondary: rgb(33, 34, 33);
  --color-tertiary: #61dafb;
}

body {
  background: var(--color-primary);
  background: -webkit-linear-gradient(to left, var(--color-primary), var(--color-secondary));
  background: linear-gradient(to left, var(--color-primary), var(--color-secondary));
}

.App {
  text-align: center;
}

.App-link {
  color: var(--color-tertiary);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

#content-chat {
  height: 550px;
  overflow-y: scroll;
}

#nickname {
  width: 12em;
}

@media only screen and (max-width: 1000px) {
  .container {
    width: 100%;
  }
}